# Eclipse project files
.cproject
.project
*.prefs

samples/Cam_graphs/2DplotFINAL.plt

samples/Cam_graphs/FDM_output.plt

samples/Cam_graphs/test.eps

*.plt

samples/cam_10potential

samples/cylinder

samples/initialise
