# Eclipse project files
.cproject
.project
*.prefs

# dat and exe files for Cameron
*.dat
*.exe
potential

# Eclipse build folders
/Debug
/Development

samples/Cam_graphs/2DplotFINAL.plt

samples/Cam_graphs/FDM_output.plt

samples/Cam_graphs/test.eps

*.plt

samples/cam_10potential

samples/cylinder

samples/initialise
